
.card {
    background-color: lightgrey;
    margin-top: 10px;
    border-radius: 30px;
}

.picture-GameCard {
    border-radius: 30px;
    font-size: 15px;
    padding: 10px;
    margin-bottom: -20px;
}
.headline-card{
    padding: 10px;
}
.title-card{
    padding: 10px;
    margin-bottom: -15px;
}
.picture-GameCard-Detailed{
    align-items: center;
    height: auto;
    width: 40%;
    border-radius: 30px;
}