
.card {
    display: block;
    background-color: lightgrey;
    border-radius: 20px;
    margin: 10px;
    width: 90%;
    height: auto;
    margin-top: 44px;
}

.picture-GameCard {
    float: left;
    height: auto;
    width: 40%;
    border-radius: 20px;
}
.picture-GameCard-Detailed{
    float: left;
    height: auto;
    width: 40%;
    border-radius: 20px;
}

.cardcontainer {
    position: center;
    margin-left: -222px;
}