
.Homepage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
}
.button-homepage{
    border-radius: 4px;
    color: black;
    background-color: slategrey;
    margin-bottom: 1px;
    margin-top: 5px;
}