.Header-Picture{
    height: 140px;
    width: 140px;
    border-radius: 20px;
}
.Header{
    display: grid;
    background: black;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}
.Search-Bar{
    margin-left: -350px;
}
.Nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    margin-right: 390px;
    color: white;
}
.Link{
    color: white;
}