
.Header-Picture{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    position: fixed;
    left: 22px;
}
.Header{
    margin-bottom: 120px;
}
.Nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: cadetblue;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    margin-bottom: 50px;
}
.nav-list{
    display: flex;
    margin-right: 2rem;
    margin: 0 1rem;
}
.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }
}
.Link{
    color: white;
}